@media screen and (max-width: 768px) {
    .container {
        display: block;
    }

    .area-1 {
        width: 80%;
    }

    #btn-blue, #btn-white {
        width: 300px;
    }

    .area-2 {
        width: 70%;
        height: 17vh;
        margin: 30px 15% 0 15%;
    }

    .no-text img {
        display: none;
    }

    .with-text {
        padding-bottom: 10px;
    }
    
    #text2 {
        height: 75%;
    }
    
    #btn-copy {
        height: 4vh;
        width: 35%;
        margin: 0 32%;
    }
    
}